[user]
	name = kooinsung
	email = koo9ku@gmail.com
[core]
	autocrlf = input
	pager = git-split-diffs --color | less -RFX
[credential]
	helper = o
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[marge]
	conflictstyle = diff3
